* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
  background: #261447;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

#text {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}
